language: node_js
node_js:
- '9'
dist: trusty
sudo: false
cache:
  yarn: true
  directories:
  - node_modules
addons:
  apt:
    sources:
    - git-core
    packages:
    - git
  ssh_known_hosts:
    secure: f2NIP8f7tFZNccVNzT2K5m6iiQYy0WKjB9+YPejAUDIlxkgKEptoKye3F5tg5kGWjd3hf/76l3OsXIJdJhTLKW8MVvaXTVRRLalshumVdFdr8R3cfSS+XXNwDwJL2Tt7C33CUy0+HaYoWbX7GwGGbxLGkkmzjwIm8S4Gm1TLRF5EUzxLv3B5Uj587/pwIJIEhHvLUkrzV5M8H9p+EIM2VAJGqeqgN0fa3FuHqmHAaC6uKNrnEm0AYlVOeV5dGUNDZMG1KyI4nKXNh2eRGarerSK3xNs+akqSeoKeI6LvuluHgUjcuVSzr7hEDpMZ3vCClY1+0+S6cn4d0xCpxJs0Fgzc/foGTVhA4Ea8dTVJv0fDycOw/DeyXK5YvevuKeq03rmPsfjmk44u6mqf7WCuFFahSAeIjmCjJUFe5YElVYDg8PST4URFR0V9zfaweNLlvtUWzqid/Ivq7fnKCG5DvGppdT73E36p3mapYwaYyeaN+KDdOiszvS9mSUAx/R22Qci5PcDv5h9LUT8N0qlDzYK0bZSOnx7cFY+tV4ID3k7LxxzzkfVLYWZLU7t+530SKxDjFOwXP2848q2hqnkOKr9OiJhlkCu4FA1nNPMVeRPpG12jjT2EaAG2+HeFxbKKYTihCBBvC7QSXYmK5HuqjL7UZLPl4nNrEj8yxY2zwlU=
before_install:
- openssl aes-256-cbc -K $encrypted_3ce6e290f964_key -iv $encrypted_3ce6e290f964_iv
  -in .travis/id_rsa.enc -out .travis/id_rsa -d
install: skip
jobs:
  include:
  - stage: test
    script: bash ./.travis/test.sh
  - stage: deploy
    script: bash ./.travis/deploy.sh
stages:
- test
- name: deploy
  if: "(branch = production) AND (type != pull_request)"
script: skip
